NEXT_PUBLIC_SUPABASE_URL = https://douymjvzmhrxrflazqop.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvdXltanZ6bWhyeHJmbGF6cW9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MDMxNTIsImV4cCI6MjA5MDQ3OTE1Mn0.V4Q2IzzEvozRkn6kc6Da2uoK_6sIzkKPhfIKzxGhevk
NEXT_PUBLIC_SOCKET_URL = amorio-production.up.railway.app
